@import url(./__date/swiper-slide__date.css);
@import url(./__autor/swiper-slide__autor.css);
@import url(./__autor-container/swiper-slide__autor-container.css);
@import url(./__autor-name/swiper-slide__autor-name.css);
@import url(./__autor-mail/swiper-slide__autor-mail.css);
@import url(./__autor-title/swiper-slide__autor-title.css);



.swiper-slide {
  width: 400px;
  height: 288px;
  background: #ffffff;
  border-radius: 16px;
  padding: 24px;
  flex-shrink: 0;
}

