.cards {
    /* border: solid 1px red;
    display: flex;
    width: 1228px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between; */

  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 16px 16px;
  justify-content: center;
  max-width: 1232px;
  min-width: 320px;
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .cards {
    width: calc(100% - 80px);
    grid-template-columns: repeat(auto-fill, 224px);
    grid-gap: 8px 8px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(auto-fill, 288px);
    grid-gap: 8px 8px;
  }
}