.search-result__btn-box {
    max-width: 1232px;
    min-width: 320px;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 48px 0 80px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .search-result__btn-box {
      width: calc(100% - 80px);
      padding: 22px 0 40px;
    }
  }

  @media screen and (min-width: 320px) and (max-width: 767px) {
    .search-result__btn-box{
      padding: 13px 16px 44px;
    }
  }