.search-container__btn {
    font-weight: 500;
    width: 168px;
    height: 64px;
    border: 1px solid #D1D2D6;
    border-radius: 100px;
    background: #2F71E5;
    box-shadow: 0px 5px 15px rgba(14, 26, 57, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    color: #FFF;
    font-size: 18px;
    outline: none;
}

.search-container__btn:hover {
    background: #347EFF;
    cursor: pointer;
}
.search-container__btn:active {
    background: #2A65CC;
    
}
