@import url(./__input/search-container__input.css);
@import url(./__btn/search-container__btn.css);

.search-container {
    width: 608px;
    margin: auto;
    margin-top: 64px;
    position: relative;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .search-container {
        width: 448px;
        margin-top: 24px;
    }
}