.search-result__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #1A1B22;
    text-decoration: none;
    display: none;
}

.search-result__subtitle::after {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border: 2px #000000 solid;
    transform: rotate(45deg);
    border-left: 2px transparent solid;
    border-bottom: 2px transparent solid;
    position: relative;
    top: -1px;
}