.analitik__chart-date {
    margin: 0;
    font-size: 18px;
    line-height: 80px;
    width: 104px;
    flex-shrink: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .analitik__chart-date{
      width: 96px;
    }
  }