.analitik__chart-percent {
    width: 25%;
    background: #2F71E5;
    color: #ffffff;
    padding-left: 6px;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.4px;
    height: 24px;
}