.autor__img {
    width: 464px;
    height: 464px;
    border-radius: 1000px;
    margin-right: 56px;
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .autor__img {
        width: 232px;
        height: 232px;
        margin-right: 32px;
    }
}